/*HEADER FORMAT*/
.showcase2 {
  height: 200px;
  text-align: center;
  margin-bottom:10px;
  padding: 35px;
  color: #fff;
  overflow-y: hidden;
}
.showcase2 h1 {
  font-size: 50px;
}
.showcase2 p {
  font-size: 20px;
}
/*HEADER FORMAT FOR PHONES*/
@media (max-width: 700px) {
.showcase2 {
  margin-top:0px;
}
.showcase2 h1 {
  font-size: 40px;
}
.showcase2 p {
  font-size: 12px;
}
}

/*BODY FORMAT*/
.right{}
.left {
  width: 60%;
  height: auto;
  color: black;
}
.container1 {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
.postHead {
  color: #1C3E66;
}
.postContent {
  font-family: "Times New Roman", serif;
  font-size: 25px;
  text-align: justify;
}
.postFooter {
  width: 100%;
  padding: 15px;
  color: #999;
  text-align: center;
  background-color: #1d2124;
  margin-top: 40px;
}
/*BODY FORMAT FOR PHONES*/
@media (max-width: 700px) {
.container1 {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.left {
  width: 90%;
  text-align: center;
  margin:20px;
}
.right {
  display: none;
}
.postFooter {
  padding: 5px;
}
}

/*THUMBNAIL IMAGE*/
.thumb1 {
width: 100%;
height: 400px;
margin-bottom: 10px;
/*background: url(img1.jpg)no-repeat center center;*/
}
@media (max-width: 700px) {
.thumb1 {
height: 200px;
}
}
.thumb2 {
width: 100%;
height: 400px;
margin-bottom: 10px;
/*background: url(img1.jpg)no-repeat center center;*/
}
@media (max-width: 700px) {
.thumb2 {
height: 200px;
}
}