/*HEADER FORMAT*/
.showcase2 {
  height: 200px;
  text-align: center;
  margin-bottom:10px;
  padding: 35px;
  color: #fff;
  overflow-y: hidden;
}
.showcase2 h1 {
  font-size: 50px;
}
.showcase2 p {
  font-size: 20px;
}
/*HEADER FORMAT FOR PHONES*/
@media (max-width: 700px) {
.showcase2 {
  margin-top:0px;
   height: 150px;
}
.showcase2 h1 {
  font-size: 30px;
}
.showcase2 p {
  font-size: 10px;
}
}

/*BODY FORMAT*/
/*.right{

}*/
.left {
  width: 60%;
  height: auto;
  color: black;
}
.container1 {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
.postHead {
  color: #1C3E66;
}
.postContent {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  text-align: justify;
}
.postFooter {
  width: 100%;
  padding: 15px;
  color: #999;
  text-align: center;
  background-color: #1d2124;
  margin-top: 40px;
  bottom: 0;
}
/*BODY FORMAT FOR PHONES*/
@media (max-width: 700px) {
.container1 {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.left {
  width: 90%;
  margin:20px;
}
.right {
  display: none;
}
.postContent {
  font-family: "Baskerville", "Times New Roman";
  font-size: 18px;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.postFooter {
  padding: 5px;
}
}

@media (max-width: 990px) {
  .right {
    display: none;
  }
  .left {
  width: 90%;
  margin:20px;
}
}
/*THUMBNAIL IMAGE*/
.thumb1 {
  background: url(img2.jpg)no-repeat center center;
  height: 400px;
}
.thumb2 {
  height: 400px;
  background: url(img3.jpg)no-repeat center center;
}

@media (max-width: 700px) {
.thumb1 {
  background: url(img2.jpg)no-repeat center center;
  height: 150px;
}
.thumb2 {
  height: 150px;
  background: url(img3.jpg)no-repeat center center;
}
}